<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="service_name" value="My Windows Service" />
    <add key="event_source" value="My Windows Service" />
    <add key="dislay_name" value="My New C# Windows Service" />
    
    <add key="event_log" value="Application" />
  </appSettings>
</configuration>